.banner {
	background-color:#333333;
	color: white;
	padding: 5px 10px;
}

.footer {
	background-color:#333333;
	color: white;
	padding-top: 5px;
}

.banner-title{
	font-size: 1.5em;
}

.backline{
	background-image: url(imgs/bg.png);
}